.footerHolder{
    position: absolute;
    bottom: 0px;
}

.footerWrpr{
	    width: 100%;
    text-align: center;
}
.footerHolder{
	width: 100%;
}
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
}