.imageSlider img{
	height: 400px;
    margin: auto;
    display: block;
}

.imageSlider{
    position: relative;
}

.prevImg{
	position: absolute;
    top: 50%;
}
.nextImg{
    position: absolute;
    right: 0%;
    top: 50%;
}
.nextImg .fa, .prevImg .fa{
	font-size: 40px;
	cursor: pointer;
}
.nextImg .fa{
    padding: 10px 5px 7px 11px;
}
.prevImg .fa{
	padding: 11px 8px 6px 6px;
}

.nextImg:hover, .prevImg:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}