.navBar{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
    bottom: 0px;
    width: 100%;
}
.navBar li{
	display: inline;
	/*margin: 0px 50px 0px 50px;*/
	    margin: 0px 62px 0px 62px;
	    text-transform: uppercase;
	    cursor: pointer;
	    font-family: 'Oswald', sans-serif;
}
.navBarWrpr{
	height: 70px;
    width: 100%;
        position: relative;
}

.imagePagination li{
	list-style-type: none;
	display: inline;
}
*{
	font-family: 'Oswald', sans-serif;
}
.navBar li a, .navBar li a:link, .navBar li a:visited, .navBar li a:active, .navBar li a:hover{
	text-decoration: none;
    color: #5A4E32;
}
.logos{
	    position: relative;
}
#logoimage{
	height: 60px;
    top: 25px;
    position: relative;
}
#logotext{
	    height: 30px;
    position: absolute;
    right: 0px;
    top: 30px;
}